In [2]:
# 2byte 문자열: utf8, 1byte 문자열: 아스키(256자)
# DML:insert, update, delete 반드시 commit까지 실행
# commit

import pymysql

conn = pymysql.connect(host='192.168.0.164', port=3306, user = 'root', password='gksrlgns', use_unicode = True, db = "acorn", charset='utf8', autocommit=True )

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute("""
    Create table persons(
    id INT NOT NULL,
    name VARCHAR(100),
    salesrep VARCHAR(100),
    PRIMARY KEY(id)
)
""")

In [ ]:
# "INSERT INTO persons VALUES(1,'기정은','조과장')"
# 한번에 여러번 insert할때 executemany 사용

cursor.executemany(
    "INSERT INTO persons VALUES (%s, %s, %s)",
    [(1, '기정은', '조과장'),
    (2, '트러프', '이과장'),
    (3, '무재인', '무과장')])

conn.commit()

In [ ]:
cursor.execute('SELECT * FROM persons WHERE salesrep=%s', '조과장')
row = cursor.fetchone() # record set으로 데이터 수신
print("ID=%d, Name=%s" % (row[0], row[1]))

In [ ]:
# 문제
cursor.execute("""
    Create table pet(
        id INT NOT NULL,
        name VARCHAR(20) NOT NULL,
        owner VARCHAR(20),
        species VARCHAR(20),
        sex CHAR(1),
        birth DATE DEFAULT NULL,
        death DATE DEFAULT NULL,
        PRIMARY KEY(id)
)
""")

In [ ]:
query = ("INSERT INTO pet VALUES (%s, %s, %s, %s, %s)"%("인천시", '민주', 'cat', 'f', '2001-02-04'))
cursor.execute(query.encode('utf8'))

In [ ]:
cursor.executemany(
    "INSERT INTO pet VALUES (%s, %s, %s, %s, %s, %s, %s)",
    [(1, "인천시", '민주', 'cat', 'f', '2001-02-04', None),
    (2, '대구시', '자유', 'cat', 'f', '2010-03-17', None),
    (3, '대전시', '민주', 'dog', 'f', '2010-05-13', None),
    (4, '광주시', '민주', 'dog', 'm', '2015-08-27', None),
    (5, '부산시', '자유', 'dog', 'm', '2017-08-31', '2018-04-29')
    ])

conn.commit()

In [ ]:
# 이름이 대전시인 데이터를 출력
print("1.")
cursor.execute('SELECT * FROM pet WHERE name=%s', '대전시')
print(cursor.fetchone())

# birth가 2015.1.1일 이후인 데이터를 출력
print("2.")
cursor.execute('SELECT * FROM pet WHERE birth >= %s', '2015-01-01')
temp = cursor.fetchall()
for i in range(len(temp)):
    print(temp[i])

# dog이면서 f인 데이터 출력
print("3.")
cursor.execute('SELECT * FROM pet WHERE species=%s and sex=%s', ('dog','f'))
temp = cursor.fetchall()
for i in range(len(temp)):
    print(temp[i])

# pet의 이름과 birth만 birth순으로 정렬하여 출력
print("4.")
cursor.execute('SELECT name, birth FROM pet ORDER BY birth ASC')
temp = cursor.fetchall()
for i in range(len(temp)):
    print(temp[i])

# death가 NULL인 데이터만 출력
print("5.")
cursor.execute('SELECT * FROM pet WHERE date is NULL')
temp = cursor.fetchall()
for i in range(len(temp)):
    print(temp[i])

In [ ]:
cursor.execute('SELECT * FROM pet WHERE name=%s', '대전시')
row = cursor.fetchall()
pet_select = list(row)
for pet in pet_select:
    print("ID=%d, Name=%s, 주인=%s" % (pet[0], pet[1], pet[2]))

In [ ]:
cursor.execute("SELECT * FROM pet WHERE birth > '2015-01-01'")
row = cursor.fetchall()
pet_select = list(row)
for pet in pet_select:
    print("ID=%d, Name=%s, 주인=%s" % (pet[0], pet[1], pet[2]))

In [ ]:
cursor.execute("SELECT * FROM pet WHERE species = 'cat' and sex = 'f'")
row = cursor.fetchall()
pet_select = list(row)
for pet in pet_select:
    print("ID= %d, Name= %s, 주인= %s" % (pet[0], pet[1], pet[2]))

In [ ]:
cursor.execute("SELECT name, birth FROM pet ORDER BY birth")
row = cursor.fetchall()
pet_select = list(row)
for pet in pet_select:
    print("Name=%s, birth=%s" % (pet[0], pet[1]))

In [ ]:
cursor.execute("SELECT name, birth FROM pet WHERE death IS NULL")
row = cursor.fetchall()
pet_select = list(row)
for pet in pet_select:
    print("Name=%s, birth=%s" % (pet[0], pet[1]))

In [ ]:
with pymysql.connect(host='192.168.0.164', port=3306, user = 'root', password='gksrlgns', use_unicode = True, db = "acorn", charset='utf8', autocommit=True ) as conn:
    with conn.cursor(as_dict = True) as cursor:
        cursor.callproc('all_pet')
        for row in cursor:
            print("ID=%s, name=%s" % (row[0], row[1]))

In [ ]:
cursor.callproc('all_pet')
for row in cursor:
    print("ID=%s, name=%s" % (row[0], row[1]))

In [ ]:
cursor.callproc('pet_find_name', ('대전시', ))
for row in cursor:
    print("ID =%s, name=%s" %(row[0],row[1]))

In [ ]:
cursor.callproc('pet_name_sex', ('대전시','f'))

for row in cursor:
    print("ID =%s, name=%s" %(row[0],row[1]))

In [11]:
# 문제 : 성적 프로그램
# 성적 class + element + menu
# => sungjuk + maria + management + menu

In [63]:
class Student:
    def __init__(self, name="", kor=0, eng=0, mat=0, number=0):
        self.name = name
        self.num = number
        self.kor = kor
        self.eng = eng
        self.mat = mat
        self.tot = self.kor + self.eng + self.mat
        self.avg = round(self.tot/3, 2)        
        
    def cal(self):
        self.tot = self.kor + self.eng + self.mat
        self.avg = round(self.tot/3, 2)
        self.grade()
        
    def grade(self):
        if self.tot > 290:
            self.grade = 'A'
        elif self.tot > 270:
            self.grade = 'B'
        elif self.tot > 250:
            self.grade = 'C'
        elif self.tot > 230:
            self.grade = 'D'
        else:
            self.grade = 'F'
        return self.grade
    
    def __str__(self):
        return  "%5s %5s %6s %6s %6s %7s %7s %s" % (self.num, self.name, self.kor, self.eng, self.mat, self.tot, self.avg, self.grade)
    
   
    def __cmp__(self, other):
        return self.name == other.name
        
    def __call__(self, other):
        for student in other:
            stp.name = student[0]
            stp.kor = student[1]
            stp.eng = student[2]
            stp.mat = student[3]
            st.append(stp)
        return st
    
    def inputData(self):
        self.name = input("이름을 입력하세요")
        self.kor = eval(input("국어점수: "))
        self.mat = eval(input("수학점수: "))
        self.eng = eval(input("영어점수: "))
        self.cal()
###############################################################################################################################
class maria:
    schoolname = "에이콘 아카데미"
    
    def __init__(self):
        self.conn = pymysql.connect(host='192.168.0.164', port=3306, user = 'root', password='gksrlgns', use_unicode = True, db = "acorn", charset='utf8', autocommit=True)
        con = self.conn.cursor()
        con.execute("SHOW TABLES")
        tables = con.fetchall()
        
        c = []
        for i in tables:
            if i == ('sungjuk', ):
                c.append(i)
        if len(c) != 0:
            sungjuk_table = "SELECT * FROM sungjuk"
            con.execute(sungjuk_table)
            print('Table Check OK!')
        else:
            con.execute("CREATE TABLE sungjuk (name VARCHAR(20), kor INTEGER(20), mat INTEGER(20), eng INTEGER(20))")
            print('Create Table sungjuk')
                
    def __del__(self):
        self.conn.close()
        
    def selectdb(self):
        cur = self.conn.cursor()
        cur.callproc("sungjuk_select")
        if(cur.rowcount):
            stu = list(cur.fetchall())
        else:
            stu = 0
        cur.close()
        return stu
        
    def insertdb(self, std):
        cur = self.conn.cursor()
        args = (std.name, std.kor, std.mat, std.eng, std.tot, std.avg, std.grade)
        cur.execute("INSERT INTO sungjuk VALUES(%s, %s, %s, %s, %s, %s, %s)", args)
        #cur.callproc("sungjuk_insert", args)
        cur.close()
    
    def updatedb(self, in_name, up_name):
        cur = self.conn.cursor()
        args = (in_name, up_name, 0)
        cur.callproc("sungjuk_update", args)
        cur.execute('SELECT @_sungjuk_update_2')
        result = cur.fetchone()
        if result == 2:
            print("수정할 이름이 없습니다.")
        else :
            print("성공적으로 수정하였습니다")
        cur.close()
        return result
    
    def deletedb(self, in_name):
        cur = self.conn.cursor()
        args = (in_name, 0)
        cur.callproc("sungjuk_delete", args)
        cur.execute('SELECT @_sungjuk_delete_1')
        result = cur.fetchone()
        if result == 2:
            print("삭제할 이름이 없습니다.")
        else :
            print("성공적으로 삭제하였습니다")
        cur.close()
        return result
##############################################################################################################################
class management:
    def __init__(self):
        self.maria = maria()

    def M_select(self):
        data = self.maria.selectdb()
        st = []
        if data:
            for student in data:
                stp = Student()
                stp.name = student[0]
                stp.kor = student[1]
                stp.eng = student[2]
                stp.mat = student[3]
                stp.cal()
                st.append(stp)
            print(maria.schoolname + "성적 계산표")
            print('%5s %5s %6s %6s %6s %6s %6s %6s' % ('번 호', '이 름', '국 어', '수 학', '영 어', '총 점', '평 균', '학 점'))
            for stud in st:
                print(stud)
        else:
               print("데이터가 없습니다. .")
    
    def M_insert(self):
        stu = Student()
        stu.inputData()
        self.maria.insertdb(stu)
        
    def M_update(self):
        name = input("검색할 이름을 입력하시오")
        replace_name = input("수정할 이름을 입력하시오")
        result = self.maria.updatedb(name, replace_name)

    def M_delete(self):    
        name = input("삭제할 이름을 입력하시오")
        self.maria.deletedb(name)
##############################################################################################################################
from math import *
from statistics import *

manage = management()

while True:
    choice = input("1.출력 2.입력 3.업뎃 4.삭제 5.종료 =>")

    if choice == '1':
        manage.M_select()

    elif choice == '2':
        manage.M_insert()

    elif choice == '3':
        manage.M_update()

    elif choice == '4':
        manage.M_delete()
                    
    else:
        break

Table Check OK!
1.출력 2.입력 3.업뎃 4.삭제 5.종료 =>1
데이터가 없습니다. .
1.출력 2.입력 3.업뎃 4.삭제 5.종료 =>5

In [ ]:
# 확장